html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#score {
    color: white;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#game {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tutorial {
    position: absolute;
    height: 600px;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

div#tutorial {
    margin: 5%;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #181818;
    opacity: 0.1;
}

div#tutorial:hover {
    margin: 30px;
    background-color: #222222;
    opacity: 0.5;
    transition: 1s;
}

.button {
    cursor: pointer;
    transition: backgroud-color 2s;
}


.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}


@keyframes fadeOut {
    0% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

.fadeOut {
    animation-name: fadeOut;
}
